@import "./../../pallete.css";
@import "@fontsource/roboto/400.css";

.login-wrap {
  margin-top: 5%;
  background-color: var(--card);
  width: 50%;
  border-radius: 12px;
  padding: 10px 40px 10px;
  gap: 100px;
}

h2 {
  color: var(--primary);
  font-family: Roboto;
  text-transform: uppercase;
}

h3 {
  color: var(--primary);
  font-size: 0.8em;
  font-family: Roboto;
}

.blur-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: linear-gradient(rgba(22, 27, 51, 0.6), rgba(13, 12, 29, 0.7)), url("../../assets/quixada-background.jpeg");
  width: 100vw;
  height: 100vh;
  filter: blur(4px);
  background-repeat: no-repeat;
  background-size: cover;
}
.blur-image::before{
  background-color: #cccccc;
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .login-wrap {
    background-color: var(--card);
    width: 70%;
    border-radius: 12px;
    padding: 10px 40px 10px;
    gap: 100px;
  }
}
