.classes-wrap {
  width: 60vw;
  height: 80vh;
  margin: 0 auto;
  padding: 15px;
  background: var(--card);
  border-radius: 12px;
}

.classes-wrap .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.classes-wrap .title {
  font-size: 1.5em;
}

.classes-wrap h3 {
    font-size: 1.1em;
    color: var(--secondary);
}

.classes-wrap .teachers {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.classes-wrap .teachers a {
    font-size: 1.2em;
    color: var(--secondary);
}

.classes-wrap .teachers a:hover {
    cursor: pointer;
    color: var(--primary);
    text-decoration: underline;
}

.classes-wrap .feedback-wrap {
    width: 95%;
    height: 40%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 12px;
    opacity: 0.9;
    overflow-y: scroll;
}
