.add-semester {
  width: 350px;
  background: var(--secondary);
  opacity: 0.5;
}

.add-semester:hover {
  opacity: 1;
  cursor: pointer;
  background: var(--card);
}

.box {
  display: flex;
  justify-content: space-between;
}

.box h5 {
  font-size: 1em;
}
@media only screen and (max-width: 400px) {
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box h5 {
    display: none;
  }

}
