.add-semester {
  width: 350px;
  background: var(--secondary);
  opacity: 0.5;
  min-width: 275,

}

.add-semester:hover {
  opacity: 1;
  cursor: pointer;
  background: var(--card);
}

.box {
  display: flex;
  justify-content: space-between;
}

.box h5 {
  font-size: 1em;
}
