:root {
    --primary:#474973;
    --secondary:#A69CAC;
    --light:#F1DAC4;
    --card: #EBECF0;
    --dark:#161B33;
    --deepDark:#0D0C1D;
}

html, body {
    background-color: var(--dark);
}

* {
    text-decoration: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }