:root {
  --primary: #474973;
  --secondary: #a69cac;
  --light: #f1dac4;
  --card: #ebecf0;
  --dark: #161b33;
  --deepDark: #0d0c1d;
  --danger: #d4452f;
}

html,
body {
  background-color: var(--dark);
}

* {
  text-decoration: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
